# -*- coding: UTF-8 -*-
# chcp 936
import urllib2
import urllib
import requests
from bs4 import BeautifulSoup
import re,os
import mechanize
from tld import get_tld
pd = 1
nu = 1
for pd in range(1,42):
	pa=str(pd)
	headers = {'user-agent':'Mozilla/5.0 (X11; U; Linux i686; en-US; rv:1.9.0.1) Gecko/2008071615 Fedora/3.0.1-1.fc9 Firefox/3.0.1'} # 加入了cookie和user-agent
	url = 'http://app.mi.com/topList?page='+pa  #个人中心
	res = requests.get(url,headers=headers).content #url为上面的url, headers中包含了cookie和user-agent
	with open('123.txt','w+') as f:
		f.write(res)
	st = BeautifulSoup(res,'lxml')
#print st.prettify()
#print st.find_all(re.compile('h5'))[0].string

	num = 1
	
	for ae in st.select('li > h5 > a'):
		print nu,'.',ae.string
		with open('a123.txt','a') as fff:
			tt=str(ae.get_text())
			fff.write(str(nu)+str('.')+ae.get_text()+ '\n')
		nu =nu+1
	pd =pd+1
